lighthouse-addons/*
doc/*
db/schema.rb
tmp/*
public/system/*
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/deploy.rb
config/development.sphinx.conf
log/searchd.development.pid
db/sphinx/development/*
.idea/
